<html>
    <head>
        <title>Pruebas HTML</title>
    </head>
    <body>
        <h1>USUARIOS</h1>
        <br>
        <h2>Ingresar</h2>
        <br>
        <form action="login/" method="post">
            {% csrf_token%}
            <label>Usuario</label>
            <input type="text" name="nombre_ingreso">
            <label>Contraseña</label>
            <input type="text" name="password">
            <input type="submit" value="enviar">
        </form>
        <br>

        <br>
        <h2>Crear</h2>
        <br>
        <form action="crear_usuario/" method="POST">
            {% csrf_token%}
            <label>Nombre</label>
            <input type="text" name="nombre">
            <label>Contrasena</label>
            <input type="text" name="contrasena">
            <input type="submit" value="enviar">
        </form>
        <br>

    </body>
</htm